| issue | status | assignee | summary |
| --- | --- | --- |
{%- for i in issues %}
| [{{ i.key }}]({{ i.permalink() }}) | [{{ i.fields.assignee.displayName }}](mailto:{{ i.fields.assignee.emailAddress }}) | {{ i.fields.status }} | {{ i.fields.summary }} |
{%- endfor %}
