{%- for i in issues %}
* [{{ i.fields.status }}{% if i.fields.status|string == "Closed" %}/{{ i.fields.resolution }}{% endif %}] [{{ i.key }}]({{ i.permalink() }}) - {{ i.fields.assignee.displayName }} - {{ i.fields.summary }}
{%- endfor %}
