{%- for i in issues %}
### [{{ i.fields.status }}{% if i.fields.status|string == "Closed" %}/{{ i.fields.resolution }}{% endif %}] [{{ i.fields.issuetype.name }}] [{{ i.key }}]({{ i.permalink() }}){% if i.fields.customfield_10028 %} - {{ i.fields.customfield_10028 | int }}sp{% endif %} - {{ i.fields.assignee.displayName }} - {{ i.fields.summary }}

{% if i.fields.description %}
**Description:**
```
{{ i.fields.description | replace('```', '\`\`\`') | truncate(1500, True, '...') }}
```
{% endif %}

{% if i.fields.comment and i.fields.comment.comments %}
**Comments:**
{% for c in i.fields.comment.comments %}
#### **{{ c.author.displayName }}** ({{ c.created[:10] }})
```
{{ c.body | replace('```', '\`\`\`') | truncate(1500, True, '...') }}
```
{% endfor %}
{% endif %}

{% if i.prs %}
**Linked Pull Requests & Merge Requests**
{% for pr in i.prs %}
#### PR/MR: {{ pr.url }}
```
{{ pr.info | replace('```', '\`\`\`') }}
```
{% endfor %}
{% endif %}

---
{%- endfor %}
